/* Reset de estilos padrões do browser */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;

}


body {
    background-image: url("../img/Recife_-_vista.jpg");
    /* background-position: left center; */
    background-size: 100%;
    background-color: rgb(217, 217, 217);
    font-family: 'Roboto';
}

/* Estilização do header */
.header {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: orange;
    justify-content: space-between;
    margin-bottom: 16px;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    margin-left: 16px;

}

header nav {
    /* background-color: aquamarine; */
    margin-right: 16px;



}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 18px;

}

nav ul li {
    margin-left: 16px;

}

li,
li a {
    color: rgb(112, 57, 8);
}

ul li:last-child {
    margin-right: 16px;
}

nav ul li:hover,
nav ul li a:hover {
    color: black;
    font-size: 20px;
}

/* Fim da estilização do header */

/* Estilização do main */
main h1 {
    height: 60px;
    width: 600px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 16px;
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(112, 57, 8);

}

main div {
    background-color: rgba(192, 192, 191, 0.658);
    height: 100px;
    width: 400px;
    margin-top: 40px;
    margin-left: 200px;
    padding: 25px;
    border-radius: 25px;

}

main div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;


}

main div p {

    text-align: justify;
    font-size: 20px;

}

/* Fim da estilização do main */

/* Estilização footer */
footer {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: orange;
    margin-top: 16px;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer span {
    margin-top: 5px;
}

/* Fim da estilização do footer */